html {
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; /\* Hide vertical scroll bar *\/ */
    /* overflow-x: hidden; /\* Hide horizontal scroll bar *\/ */
}
body {
    font-family: Sans-Serif, times-new-roman, Times;
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    margin: 0px;
}

/* Sidebar */
.Sidebar-container {
    margin-top: calc(8px + 5vw);
    position: fixed;
    float: left;
    z-index: 100;

    border: 2px solid lightsteelblue;
    background-color: white;

}

/* Maps */
.Maps-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* Adjust area of the map */
.leaflet-container {
    height: 100%;
    width: 100%;
}

