html {
    width: 100%;
    height: 100%;
    overflow-y: hidden; /* Hide vertical scroll bar */
    /* overflow-x: hidden; /\* Hide horizontal scroll bar *\/ */
}
body {
    font-family: Sans-Serif, times-new-roman, Times;
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.Sidebar-container {
    margin-top: calc(4px + 4vw);
    position: fixed;
    float: left;
    z-index: 100;
}

.Omnibox-container {
    background-color: lightblue;
    width: 100%;
    margin: 0;
    padding: 0;
}

#Menu-Button {
    float: left;
    width: 15%;
}

#Search {
    width: 85%;
}

#SearchBar {
    padding: 3px 3px 4px 3px;
    border-radius: 4px;
    width: 100%;
}

#Sidebar {
    border: 2px solid lightsteelblue;
    background-color: white;
}



/* Views */






/* Maps */
.Maps-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* Adjust area of the map */
.leaflet-container {
    height: 100%;
    width: 100%;
}

